priority -20

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet head "#!/usr/bin/env python" b
# -*- coding: utf-8 -*-
#
# `!v strftime('%F')`
import os
import sys
import numpy as np
from glob import glob
import shutil

$0
endsnippet


# vim:ft=snippets:
